LAB 4 PYTHON

DATE (1)

In [5]:
from datetime import datetime, timedelta

new_date = datetime.now() - timedelta(days=5)
print("Date five days ago:", new_date.strftime("%Y-%m-%d"))

Date five days ago: 2025-02-05

DATE (2)

In [7]:
from datetime import datetime, timedelta

today = datetime.now()
yesterday = today - timedelta(days=1)
tomorrow = today + timedelta(days=1)

print("Yesterday:", yesterday.strftime("%Y-%m-%d"))
print("Today:", today.strftime("%Y-%m-%d"))
print("Tomorrow:", tomorrow.strftime("%Y-%m-%d"))

Yesterday: 2025-02-09
Today: 2025-02-10
Tomorrow: 2025-02-11

DATE (3)

In [94]:
import datetime

date_3 = str(datetime.datetime.now())
ms = str(datetime.datetime.now().microsecond)
print(date_3[0:len(date_3) - (len(ms)) - 1])

2025-02-09 23:08:17

DATE (4)

In [40]:
from datetime import datetime

date_1 = "2025-01-21 12:00:00"
date_2 = "2025-01-20 12:00:00"
date_format = "%Y-%m-%d %H:%M:%S"

datetime_1 = datetime.strptime(date_1, date_format)
datetime_2 = datetime.strptime(date_2, date_format)
minus = abs((datetime_2 - datetime_1).total_seconds())
print(minus)

86400.0

Generator (1)

In [30]:
n = int(input())
for i in range(n):
   print(i ** i, end="\n")

 5

1
1
4
27
256

Generator (2)

In [34]:
 n = int(input())
 for i in range(0, n, 2):
   print(i, end=", ")

 10

0, 2, 4, 6, 8,

Generator (3)

In [36]:
 n = 100
 for i in range(0, n):
   if i % 3 == 0 or i % 4 == 0:
     print(i, end=" - ")

0 - 3 - 4 - 6 - 8 - 9 - 12 - 15 - 16 - 18 - 20 - 21 - 24 - 27 - 28 - 30 - 32 - 33 - 36 - 39 - 40 - 42 - 44 - 45 - 48 - 51 - 52 - 54 - 56 - 57 - 60 - 63 - 64 - 66 - 68 - 69 - 72 - 75 - 76 - 78 - 80 - 81 - 84 - 87 - 88 - 90 - 92 - 93 - 96 - 99 -

Generator (4)

In [50]:
a, b = map(int, input().split())
for i in range(a, b + 1): 
    print(i ** 2)

 2 5

4
9
16
25

Generator (5)

In [52]:
n = int(input())
for i in range(n, 0, -1):
  print(i)

 7

7
6
5
4
3
2
1

Math (1)

In [64]:
import math

degree = 15
print(math.radians(degree))

0.2617993877991494

Math (2)

In [72]:
import math

height, base_1, base_2 = list(map(int, input().split()))
print((1/2) * (base_1 + base_2) * height)

 5 5 6

27.5

Math (3)

In [84]:
import math

sides, length = list(map(int, input().split()))
print((sides * length**2) / (4 * math.tan(math.pi / sides)))

 4 25

625.0000000000001

Math (4)

In [86]:
import math
length, height = list(map(int, input().split()))
print(length * height)

 5 6

30