Python Home (1)

In [9]:
print("Hello, World!")

Hello, World!

Pythnon Syntax (2.1)

In [6]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Pythnon Syntax (2.2)

In [13]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

Python Comments (3.1)

In [17]:
#This is a comment
print("Hello, World!")

Hello, World!

Python Comments (3.2)

In [20]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

Python Comments (3.3)

In [23]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Python Comments (3.4)

In [26]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Python Variables (4.1)

In [29]:
x = 5
y = "John"
print(x)
print(y)

5
John

Python Variables (4.2)

In [33]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Python Variables (4.3)

In [40]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

Python Variables (4.4)

In [43]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Python Variables (4.5)

x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)


Python Variables (4.6)

In [53]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

Python Variables (4.7)

In [57]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

Variable Names (1) Legal variable names:

In [71]:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

Variable Names (2) Illegal variable names:

In [64]:
2myvar = "John"
my-var = "John"
my var = "John"

#This example will produce an error in the result

SyntaxError: invalid decimal literal (2347162828.py, line 1)

Python Variables - Assign Multiple Values (1)

In [81]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Python Variables - Assign Multiple Values (2)

In [83]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Python Variables - Assign Multiple Values (3)

In [85]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Python - Output Variables (1)

In [93]:
x = "Python is awesome"
print(x)

Python is awesome

Python - Output Variables (2)

In [95]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Python - Output Variables (3)

In [97]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Python - Output Variables (4)

In [99]:
x = 5
y = 10
print(x + y)

15

Python - Output Variables (5)

In [101]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Python - Output Variables (6)

In [103]:
x = 5
y = "John"
print(x, y)

5 John

Python - Global Variables (1)

In [111]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Python - Global Variables (2)

In [113]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

Python - Global Variables (3)

In [117]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Python - Global Variables (4)

In [119]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Python Data Types (1)

In [122]:
x = 5
print(type(x))

<class 'int'>

Python Numbers (1)

In [137]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Python Numbers (2)

In [139]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Python Numbers (3)

In [141]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Python Numbers (4)

In [143]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Python Numbers (5)

In [145]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Python Numbers (6)

In [147]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Python Numbers (7)

In [149]:
import random

print(random.randrange(1, 10))

9

Python Casting (1)

In [156]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

Python Casting (2)

In [158]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

Python Casting (3)

In [160]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

Python Strings (1)

In [183]:
print("Hello")
print('Hello')

Hello
Hello

Python Strings (2)

In [185]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Python Strings (3)

In [187]:
a = "Hello"
print(a)

Hello

Python Strings (4)

In [189]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Python Strings (5)

In [191]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Python Strings (6)

In [193]:
a = "Hello, World!"
print(a[1])

e

Python Strings (7)

In [195]:
for x in "banana":
  print(x)

b
a
n
a
n
a

Python Strings (8)

In [197]:
a = "Hello, World!"
print(len(a))

13

Python Strings (9)

In [199]:
txt = "The best things in life are free!"
print("free" in txt)

True

Python Strings (10)

In [201]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Python Strings (11)

In [203]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Python Strings (12)

In [205]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Python-Slicing Strings (1)

In [211]:
b = "Hello, World!"
print(b[2:5])

llo

Python-Slicing Strings (2)

In [213]:
b = "Hello, World!"
print(b[:5])

Hello

Python-Slicing Strings (3)

In [215]:
b = "Hello, World!"
print(b[2:])

llo, World!

Python-Slicing Strings (4)

In [217]:
b = "Hello, World!"
print(b[-5:-2])

orl

Modify Strings (1)

In [224]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Modify Strings (2)

In [226]:
a = "Hello, World!"
print(a.lower())

hello, world!

Modify Strings (3)

In [228]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Modify Strings (4)

In [230]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Modify Strings (5)

In [232]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

String Concatenation (1)

a = "Hello"
b = "World"
c = a + b
print(c)

String Concatenation (2)

In [238]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format - Strings (1)

In [241]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

Format - Strings (2)

In [245]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

Format - Strings (3)

In [247]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

Format - Strings (4)

In [249]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [ ]:
Escape Characters (1)

In [252]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.